@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
}

h1 {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  margin-top: 67px;
  margin-bottom: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(6, 5, 5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide {
  display: none;
}

.like-href-display {
  display: inline;
  background-color: red;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}
.main-container .container {
  width: 375px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.main-container .container header {
  margin-bottom: 67px;
  z-index: 2;
}
.main-container .container header .headerContainer {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 375px;
  height: 67px;
  border-bottom: 1px solid #C6C6C6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #ffffff;
}
.main-container .container section {
  background: #ffffff;
}
.main-container .container section .content-container {
  display: flex;
  flex-direction: column;
}
.main-container .container section .content-container .user-location {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 11px;
  height: 55px;
}
.main-container .container section .content-container .user-location img {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  margin-right: 7px;
}
.main-container .container section .content-container .main-image .post {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-container .container section .content-container .main-image .post .icon {
  position: absolute;
  display: inline-block;
  width: 128px;
  opacity: 0;
  fill: rgb(232, 232, 232);
}
.main-container .container section .content-container .main-image .post .icon.like {
  -webkit-animation: 2s like-heart-animation ease-in-out forwards;
          animation: 2s like-heart-animation ease-in-out forwards;
}
.main-container .container section .content-container .main-image .post .main-photo {
  width: 100%;
  cursor: pointer;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
@-webkit-keyframes like-heart-animation {
  0%, to {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%, 80% {
    opacity: 0.9;
    transform: scale(1);
  }
}
@keyframes like-heart-animation {
  0%, to {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%, 80% {
    opacity: 0.9;
    transform: scale(1);
  }
}
.main-container .container section .content-container .main-image .details {
  display: flex;
  flex-direction: column;
  margin: 21px 19px 16px 10px;
}
.main-container .container section .content-container .main-image .details .buttons {
  margin-bottom: 11.87px;
}
.main-container .container section .content-container .main-image .details .buttons a {
  margin-right: 18px;
  text-decoration: none;
}
.main-container .container section .content-container .main-image .details .buttons a .like-btn {
  stroke: black;
  stroke-width: 2.32996;
}
.main-container .container section .content-container .main-image .details .buttons a .like-btnTwo {
  fill: red;
  stroke: red;
  stroke-width: 2.32996;
}
.main-container .container section .content-container .main-image .details .buttons a #comment-btn {
  fill: black;
}
.main-container .container section .content-container .main-image .details .buttons a #comment-btn:hover {
  fill: rgb(89, 7, 251);
}
.main-container .container section .content-container .main-image .details .buttons a #dm-icon {
  stroke: black;
}
.main-container .container section .content-container .main-image .details .buttons a #dm-icon:hover {
  stroke: rgb(16, 47, 221);
}
.main-container .container section .content-container .main-image .details .comment-like #like-count {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 12px;
}
.main-container .container section .content-container .main-image .details .comment-like .user-comment {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.main-container .container section .content-container .main-image .details .comment-like .user-comment .bold {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */