.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;

    .container {
        width: 375px;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;


        header {
            margin-bottom: 67px;
            z-index: 2;

            .headerContainer {

                position: fixed;
                box-sizing: border-box;
                top: 0;
                width: 375px;
                height: 67px;
                border-bottom: 1px solid #C6C6C6;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 16px;
                background: #ffffff;

                .logo {
                    cursor: pointer;
                    transition: .5s;

                    &:hover {
                        transform: scale(.9);
                        opacity: 0.5;
                    }
                }

                .user-image {
                    position: relative;
                    display: inline-block;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    .close-pop-text {
                        visibility: hidden;
                        width: 160px;
                        background-color: #555;
                        color: #fff;
                        text-align: center;
                        border-radius: 6px;
                        padding: 8px 0;
                        position: absolute;
                        z-index: 1;
                        top: 52px;

                        left: -60px;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: #555 transparent transparent transparent;
                        }



                        @keyframes fade {
                            from {
                                opacity: 0.5;
                            }

                            to {
                                opacity: 1;
                            }
                        }

                        li {
                            list-style: none;
                            background-color: white;
                            color: black;
                            margin-bottom: 20px;
                            margin: auto;
                            margin-bottom: 10px;
                            width: 100px;
                            border-radius: 6px;
                            font-weight: 600;
                            text-transform: capitalize;
                            cursor: pointer;

                            &:hover {
                                background-color: rgba(255, 255, 255, 0.338);
                                color: white;
                            }
                        }


                    }

                    .closepop-show {
                        visibility: visible;
                        -webkit-animation: fadeIn 1s;
                        animation: fade 1s;
                    }

                    .profile-photo {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                        transition: 1s;
                        cursor: pointer;
                        border: 3px solid white;

                        &:hover {
                            transform: scale(.9);
                            border: 3px solid black;
                        }


                    }
                }
            }
        }




        section {
            background: #ffffff;

            .content-container {
                display: flex;
                flex-direction: column;


                .user-location {
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    padding: 11px;
                    height: 55px;

                    img {
                        border-radius: 50%;
                        height: 34px;
                        width: 34px;
                        margin-right: 7px;
                    }



                }

                .main-image {
                    .post {
                        cursor: pointer;
                        margin: auto;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;



                        .icon {
                            position: absolute;
                            display: inline-block;
                            width: 128px;
                            opacity: 0;
                            fill: rgb(232, 232, 232);

                            &.like {
                                animation: 2s like-heart-animation ease-in-out forwards;
                            }
                        }

                        .iconTwo {
                            position: absolute;
                            display: inline-block;
                            width: 128px;
                            opacity: 0;
                            fill: rgb(232, 232, 232);

                            &.like {
                                animation: 2s like-heart-animation ease-in-out forwards;
                            }
                        }

                        .iconThree {
                            position: absolute;
                            display: inline-block;
                            width: 128px;
                            opacity: 0;
                            fill: rgb(232, 232, 232);

                            &.like {
                                animation: 2s like-heart-animation ease-in-out forwards;
                            }
                        }



                        .main-photo {
                            width: 100%;
                            cursor: pointer;
                            user-select: none;
                            -moz-user-select: none;
                            -khtml-user-select: none;
                            -webkit-user-select: none;
                            -o-user-select: none;

                        }

                        .main-photoTwo {
                            width: 100%;
                            cursor: pointer;
                            user-select: none;
                            -moz-user-select: none;
                            -khtml-user-select: none;
                            -webkit-user-select: none;
                            -o-user-select: none;

                        }

                        .main-photoThree {
                            width: 100%;
                            cursor: pointer;
                            user-select: none;
                            -moz-user-select: none;
                            -khtml-user-select: none;
                            -webkit-user-select: none;
                            -o-user-select: none;

                        }
                    }


                    @keyframes like-heart-animation {

                        0%,
                        to {
                            opacity: 0;
                            -webkit-transform: scale(0);
                            transform: scale(0);
                        }

                        15% {
                            opacity: 0.9;
                            -webkit-transform: scale(1.2);
                            transform: scale(1.2);
                        }

                        30% {
                            -webkit-transform: scale(0.95);
                            transform: scale(0.95);
                        }

                        45%,
                        80% {
                            opacity: 0.9;
                            -webkit-transform: scale(1);
                            transform: scale(1);
                        }
                    }

                    .details {
                        display: flex;
                        flex-direction: column;
                        margin: 21px 19px 16px 10px;


                        .buttons {
                            margin-bottom: 11.87px;

                            .popup {
                                position: relative;
                                cursor: pointer;
                                user-select: none;

                                .popup-text {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: absolute;
                                    bottom: 110%;
                                    left: 90%;

                                    visibility: hidden;
                                    width: 160px;
                                    height: 160px;
                                    background-color: rgba(4, 4, 4, 0.612);
                                    border: 2px solid black;
                                    border-end-end-radius: 6px;
                                    border-start-end-radius: 6px;
                                    border-top-left-radius: 6px;

                                    padding: 10px;
                                    z-index: 1;




                                    .popup-main-container {

                                        border-radius: 6px;
                                        font-size: 10px;
                                        width: 150px;

                                        .one {
                                            display: flex;
                                            color: white;
                                            justify-content: center;
                                            align-items: center;
                                            width: 150px;
                                            padding-bottom: 5px;
                                            background-color: rgba(240, 238, 234, 0.211);
                                            border-radius: 6px;
                                            margin-bottom: 9px;


                                            &:hover {
                                                background-color: rgba(240, 238, 234, 0.768);
                                                transition: .4s ease-in-out;


                                            }



                                            .item {
                                                display: flex;
                                                align-items: center;
                                                list-style: none;

                                                .user-dm {
                                                    .profile {
                                                        border-radius: 50%;
                                                    }
                                                }

                                                .name-dm {
                                                    margin: 0 5px;
                                                }

                                            }

                                            .icondm-pop {
                                                .dm-icon-in {
                                                    width: 16px;


                                                }
                                            }
                                        }
                                    }

                                }


                                .show {
                                    visibility: visible;
                                    animation: fadeIn 1s;
                                }

                                .hide {
                                    visibility: hidden;
                                }

                                .showW {
                                    visibility: visible;
                                }

                                @-webkit-keyframes fadeIn {
                                    from {
                                        opacity: 0;
                                    }

                                    to {
                                        opacity: 1;
                                    }
                                }

                                @keyframes fadeIn {
                                    from {
                                        opacity: 0;
                                    }

                                    to {
                                        opacity: 1;
                                    }
                                }


                            }

                            .popupTwo {
                                position: relative;
                                cursor: pointer;
                                user-select: none;

                                .popup-text {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: absolute;
                                    bottom: 110%;
                                    left: 90%;

                                    visibility: hidden;
                                    width: 160px;
                                    height: 160px;
                                    background-color: rgba(4, 4, 4, 0.612);
                                    border: 2px solid black;
                                    border-end-end-radius: 6px;
                                    border-start-end-radius: 6px;
                                    border-top-left-radius: 6px;

                                    padding: 10px;
                                    z-index: 1;




                                    .popup-main-container {

                                        border-radius: 6px;
                                        font-size: 10px;
                                        width: 150px;

                                        .one {
                                            display: flex;
                                            color: white;
                                            justify-content: center;
                                            align-items: center;
                                            width: 150px;
                                            padding-bottom: 5px;
                                            background-color: rgba(240, 238, 234, 0.211);
                                            border-radius: 6px;
                                            margin-bottom: 9px;


                                            &:hover {
                                                background-color: rgba(240, 238, 234, 0.768);
                                                transition: .4s ease-in-out;


                                            }



                                            .item {
                                                display: flex;
                                                align-items: center;
                                                list-style: none;

                                                .user-dm {
                                                    .profile {
                                                        border-radius: 50%;
                                                    }
                                                }

                                                .name-dm {
                                                    margin: 0 5px;
                                                }

                                            }

                                            .icondm-pop {
                                                .dm-icon-in {
                                                    width: 16px;


                                                }
                                            }
                                        }
                                    }

                                }


                                .show {
                                    visibility: visible;
                                    animation: fadeIn 1s;
                                }

                                .hide {
                                    visibility: hidden;
                                }

                                .showW {
                                    visibility: visible;
                                }

                                @-webkit-keyframes fadeIn {
                                    from {
                                        opacity: 0;
                                    }

                                    to {
                                        opacity: 1;
                                    }
                                }

                                @keyframes fadeIn {
                                    from {
                                        opacity: 0;
                                    }

                                    to {
                                        opacity: 1;
                                    }
                                }


                            }

                            a {
                                margin-right: 18px;
                                text-decoration: none;


                                .like-btn {
                                    stroke: black;
                                    stroke-width: 2.32996;
                                }

                                .like-btnTwo {
                                    fill: red;
                                    stroke: red;
                                    stroke-width: 2.32996;


                                }






                                #comment-btn {
                                    fill: black;

                                    &:hover {
                                        fill: rgb(89, 7, 251);

                                    }

                                }

                                #comment-btnTwo {
                                    fill: black;

                                    &:hover {
                                        fill: rgb(89, 7, 251);

                                    }

                                }

                                #comment-btnThree {
                                    fill: black;

                                    &:hover {
                                        fill: rgb(89, 7, 251);

                                    }

                                }




                                #dm-icon {

                                    stroke: black;

                                    &:hover {
                                        stroke: rgb(16, 47, 221);
                                    }
                                }


                            }
                        }



                        .comment-like {
                            #like-count {
                                font-weight: 700;
                                font-size: 13px;
                                line-height: 16px;
                                margin-bottom: 12px;
                            }

                            #like-countTwo {
                                font-weight: 700;
                                font-size: 13px;
                                line-height: 16px;
                                margin-bottom: 12px;
                            }

                            .user-comment {
                                font-weight: 400;
                                font-size: 13px;
                                line-height: 16px;
                                color: #000000;

                                .bold {
                                    font-weight: 700;

                                }
                            }

                            .user-comment-input {
                                display: flex;
                                margin-top: 5px;



                                .dm-submit-btn {
                                    cursor: pointer;
                                }

                                a {
                                    img {
                                        width: 18px;
                                    }
                                }

                                input {
                                    background: none;

                                    border: none;
                                    border-bottom: 1px solid black;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 16px;
                                    color: #000000;
                                    margin-right: 5px;

                                    &:focus {
                                        outline: none;
                                    }

                                }
                            }

                        }


                    }
                }
            }


        }
    }
}