.container {
    width: 375px;
    background: #ffffff;
    display: flex;
    flex-direction: column;

    header {
        .headerContainer {
            height: 67px;
            border-bottom: 1px solid #C6C6C6;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
        }
    }

    main {
        section {
            .content-container {
                display: flex;
                flex-direction: column;

                .user-location {
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    padding: 11px;
                    height: 55px;

                    img {
                        border-radius: 50%;
                        height: 34px;
                        width: 34px;
                        margin-right: 7px;
                    }



                }

                .main-image {

                    .main-photo {
                        width: 375px;
                        height: 375px;
                    }

                    .details {
                        margin-left: 10px;
                        margin: 21px 0 11.87px 10px;


                        a {
                            margin-right: 20px;

                            img {}

                        }
                    }
                }
            }

        }
    }
}