@media only screen and (min-width: 320px) {

    .container {
        width: 417px !important;
    }

    .close-pop-text {
        width: 116px !important;

        &::after {
            left: 69% !important;
        }
    }

    .headerContainer {
        width: 417px !important;
    }


}