// google font
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    ;

}

h1 {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    margin: 0;
}

::-webkit-scrollbar {
    width: 9px;

}

/* Track */
::-webkit-scrollbar-track {

    margin-top: 67px;
    margin-bottom: 25px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(6, 5, 5);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}